/*
=============== 
Fonts
===============
*/
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Work+Sans&display=swap');

/*
=============== 
Variables
===============
*/

:root {
  --clr-white: #fff;
  --ff-primary: "Lora", sans-serif;
  --ff-secondary: 'Work Sans', sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 5);
  --clr-peach: #ffdbcd;
  --md-dark-color: #1d1d1d;
  --dark-color: #171717;
  --light-dark-color: #292929;
  --yellow-color: #d4aa11;

}
/*
=============== 
Global Styles
===============
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-primary);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
  background-image: linear-gradient(#ffffff, #fffdf9, #dde8fd, #fbfdff);
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
img:not(.nav-logo) {
  width: 100%;
  display: block;
}
/* img:not(.nav-logo) {
  width: 100%;
  display: block;
} */

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}
.btn {
    font-family: var(--ff-secondary);
    color: var(--clr-white);
    transition: var(--transition);
    margin: 0 2rem;
}
.btn:hover {
    background: rgba(0, 0, 0, 0.2)
}

.btnz {
    font-family: var(--ff-secondary);
    background-color: black;
    font-size: 1rem !important;
    padding: 1rem 1rem;
    text-transform: capitalize;
    letter-spacing: .2rem;
    margin: 1.5rem;
    cursor: pointer;
    border: none;
    transition: var(--transition);
}
.btnz:hover {
    background: rgba(0, 0, 0, 0.2) 
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */

.btn:hover {
  color: var(--clr-primary-1);
  background: var(--clr-primary-8);
}
.section {
  padding: 5rem 0;
}
.section-title{
  text-align: center;
  margin-bottom: 4rem;
}
.section-title h2{
  text-transform: uppercase;
}

.section-title span {
  color: var(--clr-primary-5);
}

.section-center{
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}

@media screen and (min-width: 992px){
  .section-center{
    width: 95%;
  }
}

/* ========= NAVBAR ============== */
.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--clr-white);
    box-shadow: var(--dark-shadow);
    z-index: 2;
}
.nav-icons {
    display: none;
}
.nav-center {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}
.nav-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}
.nav-toggle {
    background: transparent;
    border: transparent;
    font-size: 1.5rem;
    color: var(--clr-primary-5);
    cursor: pointer;
    transition: var(--transition);
}
.nav-toggle:hover{
    transform: scale(1.2);
}
.nav-link {
    display: block;
    padding: 1rem 2rem;
    text-transform: capitalize;
    letter-spacing: var(--spacing);
    transition: var(--transition);
    color: var(--clr-grey-1);
    cursor: pointer;
    font-size: 1rem;
}

.nav-link:hover {
    color: var(--clr-primary-1);
    background-color: var(--clr-primary-8);
    padding-left: 2.25rem;
}

/* 280px */
.nav-links {
    height: 0;
    overflow: hidden;
    transition: var(--transition);
}
.show-links {
    height: 280px;
}

#IG, #GH, #LI {
    font-size: 1.6rem;
    margin: 0 .50rem;
}

@media screen and (min-width: 992px) {

    .navbar{
        padding: 1rem, 2rem;
    }
    /* hide toggle button */
    .nav-toggle {
        display: none;
    }
    .nav-center {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .nav-links {
        height: auto;
        display: flex;
    }
    .nav-header {
        padding: 0 0;
    }
    .nav-link {
        padding: 0, 0;
        margin-right: 0.7rem;
    }
    .nav-link:hover {
        color: var(--clr-primary-5);
        background: transparent;
    }
    .nav-icons {
        display: flex;
    }
    .nav-icon {
        margin-right: 0.9rem;
        color: var(--clr-primary-5);
        font-size: 1.2rem;
        transition: var(--transition);
    }
    .nav-icon:hover {
        color: var(--clr-primary-8);
    }
}

.ff {
    font-family: var(--ff-secondary);
    font-weight: 800;
}
.nav-header img {
    width: 10rem;
    cursor: pointer;

}
/* ========= END NAVBAR ============ */


/* ========== HERO =========================*/
.hero{
    min-height: 100vh;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding: 0 3rem;
    padding-top: 4rem;
    gap: 2rem;
}
.hero-img-container{
    width: 60vw;
    display: flex;
    justify-content: center;
}
.portrait{
    border-radius: 50rem;

}
.icons {
    display: none;
}
.icons1{
    display: flex;
    justify-content: space-evenly;
    transition: var(--transition);
}
.icon {
    font-size: 3rem;
    margin: 0 1.5rem;
    cursor: pointer;
    transition: var(--transition);
}
.icon:hover{
    transform: scale(1.1);
}
.hero-name{
    color: black;
    font-size: 3.4rem;
}
.hero-p {
    font-size: 1rem;
    color: black;
}
.hero-btn {
    display: flex;
    justify-content: space-evenly;
}
.btn {
    text-transform: capitalize;
    padding: 1rem 2rem;
    letter-spacing: var(--spacing);
    display: inline-block;
    transition: var(--transition);
    font-size: 0.875rem;
    font-family: var(--ff-secondary);
    font-weight: 1000;
    color: var(--clr-white);
    background-color: black;
    border: 2px solid transparent;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 769px) {
    .hero{
        padding: 4rem;
        justify-content: center;
        align-items: center;
    }

    .hero-img-container{
        display: flex;
        width: 400px;
        justify-content: center;
        align-items: center;
    }
    .portrait {
        border-radius: 60rem;
    }
    .hero-sub{
        font-size: 2rem;
    }
    .hero-btn {
        margin-top: 1rem;
        display: inline-block;
    }
    .hero-cv, .hero-contact {
        margin-right: 2rem;
    }
    .icons1 {
        width: 80vw;
    }
}

@media screen and (min-width:1025px) {
    .hero {
        flex-direction: row;
        padding: 0 4rem;
        gap:7px;
    }
    .hero-banner {
        width:60vw;
    }
    .icons1 {
        display: none
    }
    .hero-name {
        font-size: 4rem;
    }
    .hero-sub {
        font-size: 2.5rem;
    }
    .hero-p {
        font-size: 1.2rem;
        margin-top: 1.6rem;
        max-width: 30rem;
    }
    .icons {
        display: flex;
        position: absolute;
        top: 45rem;
    }
    .icon {
        font-size: 3.4rem;
        margin: 0 3rem;
    }
}

@media screen and (min-width: 1201px) {
    .hero {
        padding: 0 10rem;
    }
    .hero-banner{
        max-width: 35vw;
    }
    .hero-p {
        max-width: 30vw;
    }
    .hero-cv, .hero-contact {
        margin-top: 1rem;
    }
}
/* ============= END HERO =================== */



/* =========== ABOUT ME ==================== */

.about{
    min-height: 100vh;
    display: flex;
    padding: 3rem 3rem;
    padding-top: 5rem;
}

.about-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
.about-img-banner{
    width: 50vw;
}
.about-img {
    display: inline-block;
    width: 30vw;
    box-shadow: var(--box-shadow)
}
.about-me {
    padding-top: 1rem;
}

.about-h1 {
    text-transform: capitalize;
    font-size: 2.5rem;
}
.about-p, .about-p1 {
    font-size: .9rem;
    letter-spacing: .1rem;
}
.about-p1 {
    margin-bottom: 3rem;
}

.options {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    margin-bottom: 1.5rem;
}
.tab-links {
    font-size: 1.2rem;
}
.tab-contents{
    margin-left: 1rem;
}
.list-1 {
    font-size: 1.1rem;
    color: red;
}
.list-2 {
    font-size: 1.2rem;
    margin-bottom: .3rem;
}
.tab-links {
    cursor: pointer;
    transition: var(--transition);
}
#show {
    display: block;
}
#hide{
    display: none;
}

.active-link {
    padding-bottom: .25rem;
    border-bottom: 3px solid black;
    transform: scale(1.1);
    transition: var(--transition);
}

@media screen and (min-width: 1025px) {
    .about-center {
        flex-direction: row;
        padding-top: 5rem;
        width: 90vw;
        height: 75vh;
    }
    .about-img-banner {
        width: 50vw;
    }
    .about-img {
        width: 10vw;
    }

    .about-info {
        width: 80vw;
        padding: 0 3rem;
    }
    .about-p, .about-p1 {
        font-size: 1.2rem;
    }
    .about-p {
        margin-top: 2rem;
    }
    .options {
        margin-top: 4rem;
    }
    .list-2 {
        margin-bottom: 1.5rem;
    }
}

@media screen and (min-width: 1610px) {
    /* .about {
        margin: 0 10rem;
        padding-bottom: 40rem;
    } */

    .about-center {
        padding-left: 15rem;
        padding-bottom: 5rem;
    }
    .about-img-banner {
        width: 30vw;
    }
    .options {
        max-width: 40vw;
    }
    .tab-contents {
        max-width: 40vw;
    }
    .about-p, .about-p1 {
        max-width: 40vw;
    }
}


/* ============= END ABOUT ME =============== */


/* ======== PROJECTS SECTION ============== */


.project-cards {
    width: 85vw;
    margin: 1rem auto;
}

.project-h1 {
    margin: 3rem 8rem;
}

.project-card, .content-text {
    text-align: center;
}

.project-img, .content-text {
    transition: 0.7s all;
    border-radius: 3px;
}

.project-card {
    position: relative;
    /* CHANGE MARGIN OF CARD */
    margin: 1rem 4rem;
    width: 70%;
    float: left;
    max-width: 300px;
    cursor: pointer;
}

.project-card img {
    width: 100%;
    margin-bottom: -4px;
}
.project-card .content-text {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
    color: #fff;
    opacity: 0;
}

.content-text h2 {
    padding-top: 35%;
    font-size: 3rem;
    font-family: var(--ff-secondary);
}

.content-text p {
    font-family: sans-serif;
    font-size: 1.3rem;
    color: #fff;
}

.project-card:hover .content-text {
    opacity: 1;
}

.project-card:hover .project-img {
    -webkit-filter: blur(5px);
    filter: blur(5px);

}

.more-projects {
    width: 100vw;
    display: flex;
    justify-content: center;
}
.see-more {
    width: 30%;
    color: white;
    font-family: var(--ff-secondary);
    font-size: .9rem;
    max-width: 297px ;
    margin: 5rem 0;
}

@media screen and (min-width: 1758px){
    .project-cards{
        padding-left: 10rem;
    }
    .project-card{
        margin: 1rem 1rem;
    }
}

@media screen and (min-width: 1711px) {
    .project-card{
        min-width: 370px;
    }
}

/* ADD MAX WIDTH TO PROJECT CARD */
/* ADD BUTTON */
/* CHANGE MAXWIDTH TO PROJECT CARD */

/* ======== END PROJECTS SECTION ============== */


/* ======= API =========== */
.wrapperz {
    min-height: 100vh;
    box-shadow: var(--dark-shadow);
}
.wrapperz .containerz {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}
.search-container {
    background-color: var(--md-dark-color);
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logoz {
    padding: 1rem 0;
    border-bottom: 1px solid var(--light-dark-color);
}
.logoz p {
    font-size: 2rem;
    color: black;
    font-weight: bold;
}

.logoz p span {
    color: var(--yellow-color);
}

.search-element {
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.search-element h3 {
    align-self: center;
    margin-right: 1rem;
    font-size: 2rem;
    font-family: var(--ff-secondary);
    color: #fff;
    font-weight: 500;
    margin-bottom: 1.5rem;
}
.search-element .form-control {
    padding: 1rem 2rem;
    font-size: 1.4rem;
    border: none;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    outline: none;
    color: var(--light-dark-color);
    width: 350px;
}

.search-list {
    position: absolute;
    right: 0;
    top: 100%;
    max-height: 500px;
    overflow-y: scroll;
    z-index: 10;
}
.search-list .search-list-item {
    background-color: var(--light-dark-color);
    padding: 0.5rem;
    border-bottom: 1px solid var(--dark-color);
    width: calc(350px - 8px);
    color: #fff;
    cursor: pointer;
    transition: background-color 200ms ease;
}

.search-list .search-list-item:hover {
    background-color: #1f1f1f;
}

.search-list-item{
    display: flex;
    align-items: center;
}
.search-item-thumbnail img {
    width: 40px;
    margin-right: 1rem;
}
.search-item-info h3{
    font-weight: 600;
    font-size: 1rem;
}
.search-item-info p {
    font-size: 0.8rem;
    margin-top: 0.5rem;
    font-weight: 600;
    opacity: 0.6;
}

/* thumbnail */
.search-list::-webkit-scrollbar{
    width: 8px;
}
.search-list::-webkit-scrollbar-track{
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.search-list::-webkit-scrollbar-thumb{
    background-color: var(--yellow-color);
    outline: none;
    border-radius: 10px;
}

/* js related class */
.hide-search-list{
    display: none;
}

/* movie result */
.result-container{
    padding: 3rem 0;
}
.movie-poster img{
    max-width: 300px;
    margin: 0 auto;
    border: 4px solid black;
}
.movie-info{
    text-align: center;
    color: #fff;
    padding-top: 3rem;
}

/* movie info stylings */
.movie-title{
    font-size: 2.5rem;
    color: black;
    font-family: var(--ff-primary);
}
.movie-misc-info{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}
.movie-info .year{
    font-weight: 500;
    color: black;
}
.movie-info .rated{
    background-color: var(--yellow-color);
    padding: 0.4rem;
    margin: 0 0.4rem;
    border-radius: 3px;
    font-weight: 600;
}
.movie-info .released{
    font-size: 0.9rem;
    opacity: 0.9;
    color: black;
}
.movie-info .writer{
    padding: 0.5rem;
    margin: 1rem 0;
    color: black;
}
.movie-info .actors {
    color: black;
}
.movie-info .genre{
    background-color: var(--light-dark-color);
    display: inline-block;
    padding: 0.5rem;
    border-radius: 3px;
}
.movie-info .plot{
    max-width: 400px;
    margin: 1rem auto;
    color: black;
}
.movie-info .language{
    color: var(--yellow-color);
    font-style: italic;
}
.movie-info .awards{
    font-weight: 300;
    font-size: 0.9rem;
    color: black;
}
.movie-info .awards i{
    color: black;
    margin: 1rem 0.7rem 0 0;
    font-size: 1.5rem;
}

@media(max-width: 450px){
    .logo p{
        font-size: 1.4rem;
    }
    .search-element .form-control{
        width: 90%;
        margin: 0 auto;
        padding: 0.5rem 1rem;
    }
    .search-element h3{
        font-size: 1.4rem;
    }
    .search-list{
        width: 90%;
        right: 50%;
        transform: translateX(50%);
    }
    .search-list .search-list-item{
        width: 100%;
    }
    .movie-misc-info{
        flex-direction: column;
    }
    .movie-misc-info li:nth-child(2){
        margin: 0.8rem 0;
    }
}

@media(min-width: 800px){
    .search-element{
        flex-direction: row;
    }
    .search-element h3{
        margin-bottom: 0;
    }
    .result-grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .movie-info{
        text-align: left;
        padding-top: 0;
    }
    .movie-info .movie-misc-info{
        justify-content: flex-start;
        padding-left: 0;
    }
    .movie-info .plot{
        margin-left: 0;
    }
    .movie-info .writer{
        padding-left: 0;
        margin-left: 0;
    }
}
/* ======= END API =========== */